
.btn-tot{
    text-align:center ;
    margin-top:20px; 
    float:right;
    margin-right: 5em;
}

ul {
    list-style-type: none;
    margin-left: 10;
    padding: 0;
  }
  li {
    display: inline;
  }

  .fon{
    
    font-size: 1.17em;
    margin-top: 10px;
    margin-bottom: 1em;
    margin-left: 10px;
    margin-right: 0;
    font-weight: bold;
  }

  .flt{
    float: right;
    margin-top: 0px;
    
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 2em;
  }
  
  .price {
    color: green;
    font-size: 22px;
  }
  
  p>span{
    font-weight:bold;
  }

