<div class="row">
        <div class="col-6" *ngFor="let content of data">
            <div *ngIf = "selectedCategory === content.category || selectedCategory === 'All Categories' || selectedCategory === '';">
        <div class="card ">
            <div *ngIf="content.category === 'Chair';else tableBlock">
                <img src="assets/chair.png" alt="Chair" style="width:100%">
            </div>
            <ng-template #tableBlock>
                <img src="assets/table.jpeg" alt="Table" style="width:100%">
            </ng-template>
            <h3>{{content.title}}</h3>
            <p class="price">{{content.price  | currency:'INR'}}</p>
            <p><span>{{content.description}}</span></p>
            <p> Category : {{content.category}}</p>
           <p> <button type="button"  (click)="addToCart(content)">Add to Cart</button></p>
          </div>
        </div>
        </div>
    </div>
