.side-nav{
  margin-top:4em;
  margin-left: 0;
  padding: 0;
  float: left;
}
a{
    cursor: pointer;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 8em;
    margin: auto;
    text-align: left;
    font-family: arial;
    margin-top: 4em;
  }
p:hover{
  color: red;
}
.isActive{
  color: red;

}